<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Users</title>
  <style>
    .button-like {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #007bff;
        color: #ffffff;
        border-radius: 5px;
        font-weight: bold;
    }
</style>
</head>

<body>
  <h1>All Users</h1>
  <ul>
    {% for user in users %}
    <li><a href="/{{user.id}}">{{user.first_name}}</a></li>
    {% endfor %}
  </ul>
  <br>
  <a href="/create_user" class="button-like">Create User</a>
  
</body>

</html>